.parags{
    font-size: 20px;
    margin-left:13%;
    line-height: 1.5;
    }
    #Header{
    position:fixed;
    width:100%;
    height:140px;
    margin-top:-10px;
    background-color:rgb(220,220,220);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.65);
    z-index:2;
    }
    #img1BMW{
    width: 80px;
    height:80px;
    border-radius :20px;
    margin-top:5px;
    margin-left:15px;
    }
    #img1BMWciting{
    position:absolute;
     font-weight: bold;
     font-size:25px;
     font-family:Copperplate;
     margin-top: 2.2%;
     margin-left:1.7%;
    }
    #TitleInHeader{
    color: red;
    margin-left:15px;
    }
    #tabs{
    background-color:blue;
    padding-bottom:10px;
    padding-top:10px;
    }
    #tabs_Home{
    font-weight: bold;
    height:50px;
    width:110px;
    color:white;
    background-color:blue;
    border:none;
    border-radius:5px;
    margin-right:15%;
    margin-left:10%;
    }
    #tabs_AboutUs{
    font-weight: bold;
    height:50px;
    width:110px;
    color:white;
    background-color:blue;
    border:none;
    border-radius:5px;
    margin-right:15%;
    }
    
    #tabs_Departments{
    font-weight: bold;
    height:50px;
    width:110px;
    color:white;
    background-color:blue;
    border:none;
    border-radius:5px;
    }
    
    #tabs_Updates{
    font-weight: bold;
    height:50px;
    width:110px;
    color:white;
    background-color:blue;
    border:none;
    border-radius:5px;
    margin-right: 15%;
    }
    
    #facebook-btn{
        background-color: rgb(85, 85, 197);
        color: white;
        border-radius: 40%;
        border: none;
        margin-right: 130px;
        cursor:pointer;
        margin-bottom: 10px; box-shadow: 4px 4px 4px rgba(0,0,0,0.45);margin-left:2%;
    }
    
   
    #instagram-btn{
        background-color: white;
        background-image:repeating-linear-gradient(rgb(189, 67, 149),rgb(207, 25, 25),rgb(201, 141, 29),rgb(150, 191, 45) );
        color:white;
        border-radius: 40%;
        border:none;
        cursor:pointer;
        margin-right: 130px;
        margin-bottom: 6px; box-shadow: 4px 4px 4px rgba(0,0,0,0.45);margin-left:2%;
    }
    
    #linkedin-btn{
    background-color: rgb(255, 255, 255);
    color:white;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    margin-top: 8px;
    margin-left: 5px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.45);
    margin-left:2%;
}
    
    .i{
        size: 1.5em;
    }
    
    
    #send_email_btn{
     transform: rotate(-90deg);
     background-color: blue;
     color: white;
     width:170px;
     height:30px;
     border-radius: 5px;
    }
    #send_email{
     position: fixed;
     top:50%;
     
      margin-left: -70px;
    }
    #Send_Email_link{
    color:white;
    padding-right:5px;
    }
    
    
    #tabs_Home:hover{
     cursor: pointer;
     background-color: rgb(49, 62, 181);
    }
    
    #tabs_AboutUs:hover{
     cursor: pointer;
     background-color: rgb(49, 62, 181);
    }
    
    #tabs_Updates:hover{
     background-color: rgb(49, 62, 181);
     cursor: pointer;
    }
    
    #tabs_Departments:hover{
     cursor: pointer;
     background-color: rgb(49, 62, 181);
    }
    
    #send_email_btn:hover{
     cursor: pointer;
     background-color: rgb(49, 62, 181);
    }
    
    
    
    
    #par1_T, #par2_T,#par3_T{
     color:#858585;
     margin-top: 5%;
     margin-left: 10%;
     font-weight: bold;
     font-size:30px;
    }
    .red_in_title{
    
     color:red;
    
    }
    
    
    
    #FacebookPage{
    color: white;
    }
    
    #sign_up{
    display: inline-block;
    background-color:white;
    border:dashed black 5px;
    border-radius: 10%;
    margin-left:5%;
    width:30%;
    height: 32%;
    margin-top:8%;
    padding: 2%;
    }
    
    #options-of-sharing{
    display: inline-block;
    position: relative;
    background-color:blue; 
    color: white; 
    width:37.5%; 
    padding-bottom:2%;
    z-index:1;
    border: 5px black solid;
    border-radius: 10px;
}
#sign_up_email{
    margin-left:10%;
    width: 50%;
}
#sign_up_password{
    margin-left:3%;
    width: 50%;

}
#sign_up_and_social_media{
    margin-left: 10%;
    margin-right: 10%;
    display: inline;
}
.social-media-btn{
    position: relative;
    font-size: 125%;
    width: 40px;
    height: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.social-media-btn:hover{
    font-size: 150%;
    width: 50px;
    height: 50px;
}
#submit_btn{
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 25%;
    height: 40px;
    margin-top: 20px;
    box-shadow: 0px 5px darkblue;
    border:none;
    transition-duration: 0.5s;
}
#submit_btn:active{
    box-shadow: 0px 0px darkblue;
    transform: translateY(5px);
}
#submit_btn:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 209);
}